@import url('https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: "Sour Gummy", serif;
}

header {
width: 100%;
background-color: #2c3424;
color: aliceblue;
padding: 70px;
text-align: center;
height: 170px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #4c583e;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-weight: 400;
    gap: 5px;
}

li {
    float: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-family: "Sour Gummy";
    white-space: nowrap;
}

li a:hover {
    background-color: #768064;
    border-radius: 110%;
}

.Entrevista {
    column-count: 3;
    column-gap: 40px;
    text-align: justify;
    font-size: 16px;
}