@import url('https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: "Sour Gummy", serif;
}

header {
width: 100%;
background-color: #2c3424;
color: aliceblue;
padding: 70px;
text-align: center;
height: 170px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #4c583e;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-weight: 400;
    gap: 5px;
}

li {
    float: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-family: "Sour Gummy";
    white-space: nowrap;
}

li a:hover {
    background-color: #768064;
    border-radius: 110%;
}



#Sobre {
    display: block;
    background-color: #D9E4D7;
    width: 800px;
    margin: 0 auto;
    padding: 30px;
    border-radius: 20px;
    margin-bottom: 60px;
    margin-top: 60px;
    text-align: center;
}

#Sobre h3 {
    margin-top: 0px;
    margin-bottom: 20px;
}
.bloco {
display: flex;
align-items: center;
gap: 20px;
background-color: #D9E4D7;
/*padding: 30px;
width: fit-content;
max-width: 800px; */
margin-top: 8px;
}

#Biografia {
    font-size: 28px;
    margin-bottom: 16px;
    border-bottom: 2px;
    margin-bottom: 25px;
    margin-top: 40px;
}

footer {
    background-color: #4c583e;
    color:white;
    text-align: center;
    padding: 2rem;
    width: 100%;
}

footer p {
    font-size: 1rem;
}